$background-color: rgb(236,237,232);
$text-color: rgb(115,119,122);

$accent-color-1: rgb(182,201,211);
$accent-color-2: rgb(251,127,79);

$link-color: $accent-color-1;
$highlight-color: $accent-color-2;
