.LaunchItem {
  margin-top: 3em;
  width: 200px;
  height: 70vh;
  float: left;
  border-bottom: 4px solid black;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    text-decoration: none;
  }

  img.RocketImage {
    height: 65vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
  }

  .popover {
    width: 150px;
    font-size: 80%;

    h3.popover-title {
      font-size: 1em;
    }

    .popover-content {
      overflow: hidden;
    }

    p {
      margin-bottom: 0.25em;
    }
  }

  div.circle {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 92px;
    bottom: -10px;
    border: 4px solid black;
    border-radius: 8px;
    background-color: rgb(219, 213, 205);
  }
}

.LaunchItem.Success {
  border-color: #5cb85c;
  div.circle {
    border-color: #5cb85c;
  }
}

.LaunchItem.Failed {
  border-color: #5cb85c;
  div.circle {
    border-color: #d9534f;
  }
  img.RocketImage {
    opacity: 0.33;
  }
}

.LaunchItem.Green {
  border-color: white;
  div.circle {
    border-color: white;
  }
}

.LaunchItem.Red {
  border-color: white;
  div.circle {
    border-color: rgba(255,255,255,0.33);
  }
}