.LaunchItem {
  margin-top: 3em;
  width: 200px;
  height: 80vh;
  float: left;
  border-bottom: 4px solid black;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    text-decoration: none;
  }

  img.RocketImage {
    height: 70vh;
    position: absolute;
    bottom: 11vh;
  }

  .caption{
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;

    span {
      height: 1.5em;
      overflow: hidden;
      display: block;

      &.rocketName {
        font-weight: bold;
      }
    }


  }



  div.circle {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border: 4px solid black;
    border-radius: 8px;
    background-color: rgb(219, 213, 205);
  }
}

.LaunchItem.Success {
  border-color: #5cb85c;
  div.circle {
    border-color: #5cb85c;
  }
}

.LaunchItem.Failed {
  border-color: #5cb85c;
  div.circle {
    border-color: #d9534f;
  }
  img.RocketImage {
    opacity: 0.33;
  }
}

.LaunchItem.Green {
  border-color: white;
  div.circle {
    border-color: white;
  }
}

.LaunchItem.Red {
  border-color: white;
  div.circle {
    border-color: rgba(255,255,255,0.33);
  }
}