@import 'variables';

.navbar-default {
  background-color: inherit;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: $text-color;
}

a.navbar-brand {
  font-weight: 300;
  font-size: 2em;
  color: $text-color;

  span {
    color: $highlight-color;
  }
}
